* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    text-align: center;
    width: 100%;
}

.image img {
    max-width: 60%;
    /* reduced from 100% to 90% */
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    /* added to center the image horizontally */
}

.text {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.text h2 {
    font-size: 28px;
    color: #333333;
}

.text p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}

form#candle-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.dropdown {
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.product-description {
    margin-top: 40px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.product-description h3 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.product-description p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
}

.product-description ul {
    margin: 0;
    padding-left: 20px;
    text-align: left;
    display: inline-block;
}

.product-description ul li {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}